* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background: linear-gradient(rgba(255,255,255, 0.3), rgba(255,255,255,0.8)), url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 350px;


}

main {
  font-family: 'Manjari', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-flex-start;

  height: 100vh;
  width: 100vw;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 3px;
}

h1 {
  font-size: 4.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.6em;
}

.extra {
  color: #004225;
}

.centerSearch {
  align-items: flex-start;
  background-color: rgba(226,215,209, 0.3);
  padding: 15px 0;
  margin-bottom: 5%;
  width: 100vw;
}

form {
  width:100vw;
  align-items: baseline;
  justify-content: center;

}

input {
  font-size: 0.9em;
  padding: 3px 5px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;

}

input::placeholder {
  padding: 10px 5px;
  font-family: 'Manjari', sans-serif;
}

button {
  outline: none;
  padding: 5px 10px 3px;
  border-radius: 5px;
  font-size: 0.9em;
  font-variant: small-caps;
  font-family: 'Manjari', sans-serif;
  color: #004225;
}

i {
  font-size: 10px;
}

.none {
  display: none;
}

.message {
  color: #a52a2a;
  margin: 5px 10px 5px 0px;
  font-size: 0.77em;
  text-align: left;
}

.current {
  margin-bottom: 20px;
  margin-right: 0px;
}

.temp, .current {
  padding: 20px;
}

.temp {
  align-items: baseline;
  justify-content: space-around;

  width: 280px;
  border: 5px double rgba(255,255,255,0.5);
  border-radius: 5px;
}

#loc, #lowHeading, #highHeading {
  font-variant: small-caps;
  border-bottom: 1px solid #004225;
  margin-bottom: 15px;
  padding: 0 6px;
}

.high {
  margin-top: 10px;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extraInfo {
  margin-top: 20px;
  line-height: 1.5em;
}


/* MEDIA QUERY */
@media screen and (min-device-width: 768px) {
  /* tablets and desktop */
  body {
    background: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255,0.2)), url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }

#weatherContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  .current {
    margin-top: 15px;
  }

  .temp {
    padding: 15px 10px 10px;
    width: 200px;
    flex-direction: column;
    align-items: center;
  }

  form {
    justify-content: flex-end;
    margin-right: 100px;
  }

  .current {
    margin-right: 50px;
  }


}
